<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/style.css">
        <title>Cardapio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <center>
                <h1>Restaurante XXXX</h1>
                <div class="links">
                    <a href="caixa.html">Caixa</a>
                    <a href="index.html">Comandas</a>
                    <a href="cardapio.html" id="actual_link">Card&aacute;pio</a>
                    <a href="mesas.html">Mesas</a>
                    <a href="funcionarios.html">Funcion&aacute;rios</a>
                    <a href="clientes.html">Clientes</a>
                </div>
            </center>
        </div>

        <div class="conteudo">
            <h4>Nome:</h4><p>{{nome}}</p>
            <br>
            <h4>Descri&ccedil;&atilde;o:</h4><p>{{descricao}}</p>
            <br>
            <h4>Valor:</h4><p>{{valor}}</p>
            
        </div>

        <div class="footer">
            <p>Informa&ccedil;&otilde;es de contato, etc</p>
        </div>
        
    </body>
</html>
