<!DOCTYPE html>
<html>
    <head>
        <title>Itens</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border="2px solid black" style="width: 100%;">
            <thead>
            <th>Contato</th>
            <th>Descri&ccedil;&atilde;o</th>
            <th>A&ccedil;&atilde;o</th>
            </thead>
            <tbody>
            {{#itens}}
            <tr>
                <td>{{nome}}</td>
                <td>{{descricao}}</td>
                <td>R${{valor}}</td>
            </tr>
            {{/itens}}
            </tbody>
        </table>
    <br>
    <a href="/screen_insert">Inserir</a>
</body>
</html>