<!DOCTYPE html>
<html>
    <head>
        <title>Inserir Classificado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/insert/" method="post">
            <center>
            <table>
                <tr><td>Contato:</td></tr>
                <tr>
                    <td><input name="contato" type="text" size="25"></td>
                </tr>
                <tr><td>Descri&ccedil;&atilde;o:</td></tr>
                <tr>
                    <td><input name="descricao" type="text" size="25"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Salvar" style="float: right"></td>
                </tr>
            </table>
            </center>    
        </form>
    </body>
</html>
