<!DOCTYPE html>
<html>
    <head>
        <title>Google Keep Tabajara</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border="1" style="table-layout: fixed; width: 100%;">
            {{#anotacoes}}
            <tr style="background-color: {{corHex}};"> 
                <td style="word-wrap: break-word;">{{titulo}}</td>
                <td style="width: 100px"><a href="/restore_trash/{{id}}">Restaurar</a></td>
                <td style="width: 100px"><a href="/delete_trash/{{id}}">Deletar</a></td>
            </tr>
            {{/anotacoes}}
        </table> <br>
        <div style="width: 100%; border-top: 2px solid black; border-bottom: 2px solid black;">
            <a href="/">Voltar</a>  -  
            <a href="/empty_trash" onclick="return confirm('Você tem certeza?')">Esvaziar lixeira</a>
        </div>

    </body>
</html>