<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="http://localhost:4567/update/" method="post">
            Nome: <input name="nome" value="{{nome}}">
            Sobrenome: <input name="sobrenome" value="{{sobrenome}}">
            <input type="hidden" value="{{id}}" name="id">
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
