<!DOCTYPE html>
<html>
    <head>
        <title>Editar nota</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/update/" method="post">
            <center>
            <table>
                <tr><td>Título:</td></tr>
                <tr>
                    <td><input name="titulo" type="text" size="25" value="{{titulo}}"></td>
                </tr>
                <tr><td>Descrição:</td></tr>
                <tr>
                    <td><textarea name="descricao" rows="4" cols="32">{{descricao}}</textarea></td>
                </tr>
                <tr>
                    <td><input name="cor" type="color" value="{{cor}}"><input type="submit" value="Salvar" style="float: right"></td>
                </tr>
            </table>
            </center>
            <input type="hidden" name="id" value="{{id}}">
        </form>
    </body>
</html>
